@model MVC.SOIMSF.Models.PracticasAsistencialesViewModel

@{
    ViewData["Title"] = "Eliminar Práctica Asistencial";
}

<h1>Eliminar Práctica Asistencial</h1>

<hr />
<div>
    <h4>¿Estás seguro de que deseas eliminar esta práctica asistencial?</h4>
    <div>
        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-10">@Model.Id</dd>

            <dt class="col-sm-2">Tipo de Práctica</dt>
            <dd class="col-sm-10">@ViewBag.IdTipoDePractica</dd>

            <dt class="col-sm-2">Afiliado</dt>
            <dd class="col-sm-10">@ViewBag.IdAfiliado</dd>

            <dt class="col-sm-2">Tipo de Beneficiario</dt>
            <dd class="col-sm-10">@ViewBag.IdTipoDeBeneficiario</dd>

            <dt class="col-sm-2">Estado de la Práctica</dt>
            <dd class="col-sm-10">@ViewBag.IdEstadoPractica</dd>

            <dt class="col-sm-2">Precio</dt>
            <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>

            <dt class="col-sm-2">Fecha</dt>
            <dd class="col-sm-10">@Model.Fecha.ToString("yyyy-MM-dd")</dd>

            <dt class="col-sm-2">Observación</dt>
            <dd class="col-sm-10">@Model.Observacion</dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
